{% extends 'inheritance/base.html' %}
{% load crispy_forms_tags %}
{% block mycontent %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="{{ post.author.profilemodel.image.url }}" alt="profile-img">
                        </div>
                        <div class="col-md-8">
                            <div class="d-flex justify-content-between">
                                <small>{{ post.created_at }}</small>

                               {% if post.author == request.user %}
                                <div>
                                    <span><a class="btn btn-danger float-right btn-sm"
                                        href="{% url 'post_delete-page' post.id %}">Delete</a></span>
                                <span><a class="btn btn-primary mx-2 float-right btn-sm"
                                    href="{% url 'post_edit-page' post.id %}">Edit</a></span>
                               </div>
                               {% endif %}

                            </div>
                            <hr>
                            <h4>{{ post.title }}</h4>
                            <p>
                                {{ post.content }}
                            </p>
                            <p>
                                <a class=" " data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                  Comment:{{post.comment_count}}
                                </a> </p>
                              <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                {% for comment in post.comments %}
                                <p>{{comment.content}}</p>

                                {% endfor %}

                                <form method="post">
                                    {% csrf_token %}
                                    {{c_form | crispy }}
                                    <input class="btn btn-primary btn-sm mt-2" type="submit" value="Comment">
                                </form>
                                </div>
                              </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}