{% extends 'inheritance/base.html' %}
{% load crispy_forms_tags%}
{% block mycontent %}
<div class="container my-5">
    <div class="row">
        <div class="col-12 col-md-4 mt-5">
            <div class="card shadow p-2">
                <h3>Sign Up Form</h3>
                <form method="POST">
                    <!-- {% csrf_token %} -->
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class="btn btn-info my-2">Sign Up</button>
                </form>
                <div class="mb-2 text-center">
                    <a href="{% url 'login-page' %}" class="btn btn-success">Do you have account already?</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}